
* {
    box-sizing: border-box;
}

p, h2, h3, h4 {
    margin: 0;
}

.menu__container {
    display: flex;
    flex-direction: column;
	width: 100%;
	font-size: 1.75rem;
    margin-bottom: 1rem;
    margin: 0;
    margin-left: 150px;
   }

.menu__container-section {
	width: 70%;
	color: black;
	text-align: left;
    padding: 0.75rem;
    margin: 0;
}

.menu__container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.drink__section {
    text-align: start;
    width: 45%;
    font-size: 1rem;
    margin: 0;
     
}

.drink__line {
    display: flex;
}

.drink__progress-bar {
	width: 80%;
	padding: 0;
	text-align: left;
	position: relative;
}

.drink__progress--price {
	height: 100%;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
}

.espresso-machine-detail {
    margin: 20px; 
    object-position: 120px 10px;
      
  }


.espresso-machine-detail img {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}