/* globally applied */ 
* {
  margin:0; 
  padding:0; 
}

.container{
  background: lightgrey; 
  border: 20px white solid; 
}

/* navbar */ 
.navbar {
  background-color: grey;
  padding: 20px; 
  color: white; 
}

.navbar li{
  list-style-type: none;
  display: inline-block; 
  padding: 20px;
  margin-left: 50px; 
}

/* main area */ 
.main-area{
  background-color: lightgrey;
  border: 2px white solid; 
  padding: 20px; 
}

.main-area img{
  margin: 20px; 
  object-position: 120px 10px;
    @media (max-width: 800px) {
          width: 80%; 
          height: 50%; 
          object-position: 50px 20px;
    }
}

.main-area h1,h2{
  margin: 10px; 
  padding-left: 150px;
}

.main-area .boxes{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.main-area .box{
  flex-wrap: wrap;
  padding: 30px; 
}

.main-area .box h3{
  padding: 10px; 
  text-transform: uppercase;
}

.map img {
  margin: 20px; 
  object-position: 120px 10px;
    @media (max-width: 800px) {
          width: 80%; 
          height: 50%; 
          object-position: 50px 20px;
    } 
}

/* footer */ 
.bottom{
  background-color: grey;
  color: white;
  height: 220px; 
       @media (max-width: 800px) {
            width: 80%; 
            height: 50%; 
     }
}

.footer-navbar li{
  display: inline-block; 
  list-style-type: none; 
  padding-left: 200px;
  margin: 20px;
  padding-top: 40px; 
    @media (max-width: 800px) {
       display: flex; 
       flex-direction: column; 
       justify-content: space-around;
       margin: 0; 
    } 
}

.bottom .text-one{
  margin: 10px; 
  text-transform: uppercase;
  padding-left: 400px;
     @media (max-width: 800px) {
        padding-left: 150px;
        margin: 20px; 
     }
}

.bottom .text-two {
  margin: 10px; 
  padding-left: 400px;
      @media (max-width: 800px) {
        padding-left: 150px;
        margin: 20px; 
    }
}

.bottom .text-three {
  margin: 10px; 
  padding-left: 400px;
  padding-bottom: 50px;
  @media (max-width: 800px) {
    padding-left: 150px;
    margin: 20px; 
   }     
}